$assent-color: #00aeef;

$input-border: 1px solid hsl(0, 0%, 90%);
$input-border-radius: 10px;
$input-backround-color: hsl(0, 0%, 97%);


// button

$fuschia: #ff0081;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;